{% extends "lyaout.html" %}


{% block content %}


    <div class="container" id="about">
        <h1 style="text-align: center; margin-top: 60px;" class="h1"> About - us</h1><br><br><br><br>
        <p class="services">
            Manar Computers est une société spécialisée dans la vente et la réparation d'informations et d'appareils numériques de toutes sortes, crée en 2004 par monsieur JAA Bachir le directeur général de la société.
            <br>            
            <ul >
                <p id="p"><span class="glyphicon glyphicon-wrench"></span>  Notre services sont : </p>
                <li id="li">
                    Installation de réseaux de toutes sortes, filaires et sans fil.
                </li>
                <li id="li">
                    Installation de systèmes de surveillance et de protection à partir de caméras de haute précision, d'alarmes antivol et les incendies.
                </li>
                <li id="li">
                    Programmation et services après-vente.
                </li>
                <li id="li">
                    Réparation de divers appareils numériques.
                </li>
                <li id="li">
                    Vendre certains appareils électroniques et leur pièce.
                </li>
                
            </ul>
        </p>
    </div>
    
    
{% endblock content %}




