<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.css">
 
    <title>Erreur?</title>
</head>
<body style="margin: 0px; padding: 0px; background-color: rgb(0, 0, 0); color: chartreuse;">

    <div class="container" style="text-align: center; margin-top: 10%;">
        <h1>
            <span class="glyphicon glyphicon-warning-sign"></span>  Nous nous Excusons, Il y a eu un probléme !
        </h1><br><br>
        <h3>
            <span class="glyphicon glyphicon-thumbs-up"></span> <ins> Nous vous recommandons de saisir des information réelles.</ins>
        </h3><br>
        <a href="/">
            <button class="btn  btn-danger" type="button" > 
                <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span>  Retour à la page d'accueil
            </button>
        </a>
    </div>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>